$dark-mode-bg-color: #000;

$btn-dark-bg-color: #2980b9;
$btn-light-bg-color: #bbb;
$btn-height: 50px;
$btn-width: 50px;
$btn-bottom: 2vh;
$btn-right: 2vw;

$layer-height: 50px;
$layer-width: 50px;
$layer-bottom: 2vh;
$layer-right: 2vw;

$transition-width-time: 0.5s;
$transition-scale-time: $transition-width-time / 5;
